header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

nav {
    display: inline-block;
}

ul {
    /*display: flex;*/
    list-style-type: none;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
    font-family: "DM Serif Display";
    font-size: 1.5em;
    color: var(--main-font-color);
    transition: all .4s;
}

li:last-of-type {
    color: var(--tertiary-bg-color);
}

li:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: var(--tertiary-bg-color);
}

li:last-of-type:hover {
    color: var(--main-font-color);
}

.hamburger-icon {
    display: none;
}

.container {
    width: 80vw;
    border-top: 1px solid var(--main-font-color);
    margin: 0 auto;
    padding: 20px 0;
}

.form-outer {
    width: 100%;
    /*overflow: hidden;*/
}

.form-outer form {
    display: flex;
    width: 400%;
    gap: 20vw;
}

.form-outer form .page {
    width: 80vw;
    transition: margin-left .3s ease-in-out;
}

.form-outer form .page1 .field {
    height: 45px;
    width: 330px;
    margin: 45px 0;
}

.form-outer form .page1 .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.form-outer form .page1 .field button {
    height: 100%;
    width: 50%;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    text-transform: uppercase;
}

.container .progress-bar{
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    }

.container .progress-bar .step{
    text-align: center;
    width: 100%;
}

.progress-bar .step p {
    height: 50px;
    width: 130px;
    text-align: center;
    border: 1px solid var(--main-font-color);
}

.page2 {
    margin-top: 20px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page2 img, .page3 img {
    height: 90px;
}

.page2 div {
    display: inline-block;
}

.page3 {
    margin-top: 20px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.active-pass {
    transform: translateX(-500px);
}
